* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    cursor: default;
}

header {
    box-shadow: 2px 2px 10px grey;
    padding: .2rem 1.2rem;
}

header h2 {
    font-size: 2rem;
}

main {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.leftpart {
    width: 30rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .6rem;
}

.timeHeading {
    margin: 2rem 0 0 1.4rem;
    font-size: 1.2rem;
}

.leftpart h3 {
    font-size: .9rem;
}

.leftpart p {
    padding: 0 2rem 0 0;
    width: 92%;
    font-size: 1rem;
    color: #666666;
}

.leftpart input {
    width: 90%;
    height: 2rem;
    font-size: 1.2rem;
    padding: .4rem .6rem;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: transparent;
}

::placeholder {
    color: #adadad;
    font-weight: 100;
    font-size: 1.2rem;
}

.leftpart button {
    font-size: 1rem;
    padding: .6rem .8rem;
    background-color: rgb(28, 153, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all linear .3s;
}

.leftpart button:hover {
    background-color: rgb(0, 140, 255);
}

.rightpart {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

.rightpart h2 {
    font-size: 2.6rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.rightpart p {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}

.rightbtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightpart button {
    font-size: 1rem;
    padding: .4rem .6rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.resultTable {
    display: none;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    border: 1px solid black;
    width: 74%;
    margin: 0 auto;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid gray;
}

.resultTable h2 {
    text-align: start;
    width: 30%;
    font-size: 1rem;
}

.resultTable p {
    text-align: start;
    flex: 1;
    font-size: .8rem;
}

@media (min-width: 1800px) {
    header h2 {
        font-size: 3.2rem;
    }

    main {
        padding: 2.2rem;
        gap: 3.2rem;
    }

    .leftpart {
        width: 46rem;
        padding: 1.4rem;
        gap: 1rem;
    }

    .timeHeading {
        margin: 2rem 0 0 1.4rem;
        font-size: 2.4rem;
    }

    .leftpart h3 {
        font-size: 1.6rem;
    }

    .leftpart p {
        padding: 0;
        width: 90%;
        font-size: 1.8rem;
    }

    .leftpart input {
        width: 84%;
        height: 3rem;
        font-size: 2rem;
    }

    ::placeholder {
        font-size: 2.2rem;
    }

    .leftpart button {
        font-size: 2rem;
        padding: .6rem 1.2rem;
    }

    .rightpart {
        padding: 1.4rem;
        gap: 1rem;
    }

    .rightpart h2 {
        font-size: 4.4rem;
        letter-spacing: 3px;
    }

    .rightpart p {
        font-size: 1.4rem;
    }

    .rightpart button {
        font-size: 1.8rem;
        padding: .8rem 1rem;
    }

    .resultTable {
        width: 68%;
    }

    .resultTable h2 {
        width: 24%;
        font-size: 1.8rem;
    }

    .resultTable p {
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
        padding: .4rem;
    }

    .leftpart {
        width: 100%;
        padding: 1rem;
        align-items: center;
    }

    .timeHeading {
        margin: 1.4rem 0 0 0;
        font-size: 1.2rem;
        text-align: center;
    }

    .leftpart p {
        width: 94%;
        padding: 0;
        text-align: center;
    }

    .leftpart input {
        width: 82%;
    }

    .leftpart button {
        font-size: 1.2rem;
        padding: .6rem 2.4rem;
    }

    .resultTable {
        width: 88%;
        margin: 16px auto;
    }

    .resultTable h2 {
        font-size: .9rem;
    }

    .resultTable p {
        font-size: .8rem;
    }
}